.navigation-links2-nav {
  flex: 0 0 auto;
  width: auto;
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 100;
  max-height: var(--dl-size-size-xsmall);
  align-items: center;
  flex-direction: row;
}
.navigation-links2-navlink {
  height: 100%;
  font-size: 100%;
  max-height: 100%;
  text-align: center;
  transition: 0.3s;
  margin-left: 2vh;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.navigation-links2-navlink:hover {
  border-color: black;
  transition-delay: 0s;
  border-bottom-width: 5px;
  transition-duration: 0.05s;
}
.navigation-links2-navlink1 {
  height: 100%;
  font-size: 100%;
  max-height: 100%;
  text-align: center;
  transition: 0.3s;
  margin-left: 2vh;
  border-width: 1px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.navigation-links2-navlink1:hover {
  border-bottom-width: 5px;
}
.navigation-links2-navlink2 {
  height: 100%;
  font-size: 100%;
  max-height: 100%;
  text-align: center;
  transition: 0.3s;
  margin-left: 2vh;
  border-width: 1px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.navigation-links2-navlink2:hover {
  border-bottom-width: 5px;
}
.navigation-links2-navlink3 {
  height: 100%;
  font-size: 100%;
  max-height: 100%;
  text-align: center;
  transition: 0.3s;
  margin-left: 2vh;
  border-width: 1px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.navigation-links2-navlink3:hover {
  border-bottom-width: 5px;
}
.navigation-links2-navlink4 {
  height: 100%;
  font-size: 100%;
  max-height: 100%;
  text-align: center;
  transition: 0.3s;
  margin-left: 2vh;
  border-width: 1px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.navigation-links2-navlink4:hover {
  border-bottom-width: 5px;
}








.navigation-links2-root-class-name8 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name9 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name10 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}

.navigation-links2-root-class-name12 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name13 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name14 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name15 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name16 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name17 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
.navigation-links2-root-class-name18 {
  width: 80vh;
  height: 100%;
  max-width: 80vh;
  max-height: 100%;
}
@media(max-width: 991px) {
  .navigation-links2-nav {
    height: 100%;
  }
  .navigation-links2-navlink {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links2-navlink1 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links2-navlink2 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links2-navlink3 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links2-navlink4 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links2-navlink {
    margin-left: 2vh;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-root-class-name12 {
    left: -114px;
    bottom: -7px;
    margin: auto;
    position: absolute;
  }
  .navigation-links2-root-class-name15 {
    top: -3px;
    left: -164px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .navigation-links2-root-class-name12 {
    left: 56px;
    width: 80vh;
    bottom: -3px;
    max-width: 80vh;
  }
}

.header-header {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: 100%;
  background: white;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  user-select: none;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-image {
  height: 2rem;
  visibility: hidden;
}
.header-nav {
  display: flex;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-login {
  transition: 0.3s;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.header-login:hover {
  color: white;
  background-color: var(--dl-color-gray-black);
}
.header-register {
  transition: 0.3s;
}
.header-register:hover {
  color: white;
  background-color: var(--dl-color-gray-black);
}
.header-page-heading {
  padding: var(--dl-space-space-halfunit);
  align-self: stretch;
  font-style: normal;
  margin-top: 4%;
  font-family: Source Code Pro;
  font-weight: 900;
  user-select: none;
  border-radius: var(--dl-radius-radius-radius8);
  letter-spacing: 1.5px;
  text-transform: capitalize;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.8) 45%, rgba(25, 36, 47, 0) 98%);
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name2 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
@media(max-width: 1200px) {
  .header-header {
    height: 100px;
    z-index: 10;
    position: fixed;
  }
  .header-page-heading {
    margin-top: 5.5%;
    margin-left: -1%;
  }
}
@media(max-width: 991px) {
  .header-header {
    position: fixed;
  }
  .header-nav {
    top: 35px;
    left: 0px;
    right: 0px;
    width: 50vh;
    height: 3vh;
    position: absolute;
    max-width: 50vh;
  }
  .header-page-heading {
    top: 140px;
    left: -19px;
    display: none;
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .header-header {
    position: fixed;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-nav {
    top: 33px;
    right: 94px;
    width: 45vh;
    opacity: 1;
    position: absolute;
    max-width: 45vh;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
    position: fixed;
  }
}

.feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.feature-card-icon {
  width: 65px;
  height: 60px;
  max-width: 65px;
  max-height: 60px;
}
.feature-card-text {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  font-size: 2rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card-text1 {
  color: #000000;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-family: Karla;
  font-weight: 600;
}






.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}
.feature-card2-icon {
  width: 65px;
  height: 60px;
}
.feature-card2-text {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  font-size: 2rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card2-text1 {
  color: #000000;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-family: Karla;
  font-weight: 600;
}






.feature-card3-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}
.feature-card3-icon {
  width: 65px;
  height: 60px;
}
.feature-card3-text {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  font-size: 2rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card3-text1 {
  color: #000000;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-family: Karla;
  font-weight: 600;
}






.feature-card4-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: 32px;
  flex-direction: column;
  padding-bottom: 32px;
}
.feature-card4-icon {
  width: 65px;
  height: 60px;
}
.feature-card4-text {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  font-size: 2rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card4-text1 {
  color: #000000;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-family: Karla;
  font-weight: 600;
}






.feature-card5-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card5-icon {
  fill: #000000;
  width: 5rem;
  height: 5rem;
}
.feature-card5-text {
  font-style: normal;
  font-weight: 800;
  user-select: none;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card5-text1 {
  color: #040404;
  font-style: normal;
  font-weight: 500;
  user-select: none;
}
.feature-card5-past-work {
  width: 4.5em;
  height: 2em;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  user-select: none;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  text-transform: capitalize;
}
.feature-card5-past-work:hover {
  color: white;
  background-color: var(--dl-color-gray-black);
}
.feature-card5-root-class-name {
  width: 100%;
}









@media(max-width: 479px) {
  .feature-card5-text {
    font-style: normal;
    font-weight: 600;
  }
}

.feature-card6-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card6-icon {
  width: 5rem;
  height: 5rem;
}
.feature-card6-text {
  font-style: normal;
  font-weight: 800;
  user-select: none;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card6-text1 {
  color: #040404;
  font-style: normal;
  font-weight: 500;
  user-select: none;
}
.feature-card6-past-work {
  width: 4.5em;
  height: 2em;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  user-select: none;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  text-transform: capitalize;
}
.feature-card6-past-work:hover {
  color: white;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 479px) {
  .feature-card6-text {
    font-style: normal;
    font-weight: 600;
  }
}

.feature-card7-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card7-icon {
  width: 5rem;
  height: 5rem;
}
.feature-card7-text {
  font-style: normal;
  font-weight: 800;
  user-select: none;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card7-text1 {
  color: #040404;
  font-style: normal;
  font-weight: 500;
  user-select: none;
}
.feature-card7-past-work {
  width: 4.5em;
  height: 2em;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  user-select: none;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  text-transform: capitalize;
}
.feature-card7-past-work:hover {
  color: white;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 479px) {
  .feature-card7-text {
    font-style: normal;
    font-weight: 600;
  }
}

.feature-card8-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card8-icon {
  width: 5rem;
  height: auto;
}
.feature-card8-text {
  font-style: normal;
  font-weight: 800;
  user-select: none;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card8-text1 {
  color: #040404;
  font-style: normal;
  font-weight: 500;
  user-select: none;
}
.feature-card8-past-work {
  width: 4.5em;
  height: 2em;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  user-select: none;
  border-style: hidden;
  margin-right: var(--dl-space-space-twounits);
  text-transform: capitalize;
}
.feature-card8-past-work:hover {
  color: white;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 479px) {
  .feature-card8-text {
    font-style: normal;
    font-weight: 600;
  }
}

.about-me-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-me-about {
  width: 68.5vh;
  height: 38vh;
  display: none;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 68.5vh;
  box-shadow: -15px -15px 5.5px 2px #c2bebe;
  max-height: 38vh;
  align-items: center;
  user-select: none;
  border-radius: 8px;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(-285deg, rgb(45, 57, 41) 0.00%,rgb(62, 83, 57) 45.00%,rgb(44, 176, 66) 100.00%);
}
.about-me-text-frame {
  right: -38px;
  width: 60vh;
  bottom: -30px;
  height: 35vh;
  display: flex;
  padding: 0px;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: -15px -10px 5px 0.5px #545454;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  flex-direction: column;
  background-color: #ffffff;
}
.about-me-text {
  color: rgb(0, 0, 0);
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 800;
  padding-top: var(--dl-space-space-halfunit);
}
.about-me-li {
  width: 80%;
  height: 20%;
  position: relative;
  font-size: 2.5rem;
  max-width: 80%;
  align-self: flex-start;
  max-height: 20%;
  padding-left: var(--dl-space-space-halfunit);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
}
.about-me-text03 {
  left: 32px;
  width: 90%;
  bottom: -5px;
  height: 100%;
  position: absolute;
  font-size: 1.2rem;
  max-width: 90%;
  max-height: 100%;
  font-family: Source Code Pro;
  font-weight: 700;
}
.about-me-text04 {
  font-weight: 600;
}
.about-me-text05 {
  font-style: normal;
}
.about-me-li1 {
  width: 80%;
  height: 25%;
  position: relative;
  font-size: 2.5rem;
  max-width: 80%;
  align-self: flex-end;
  max-height: 25%;
  padding-left: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
}
.about-me-text06 {
  left: 32px;
  width: 90%;
  bottom: -5px;
  height: 100%;
  position: absolute;
  font-size: 1.25rem;
  max-width: 90%;
  max-height: 100%;
  font-family: Source Code Pro;
  font-weight: 700;
}
.about-me-text07 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
}
.about-me-text09 {
  font-style: normal;
  font-weight: 600;
}
.about-me-decor {
  top: 31px;
  right: -113px;
  width: 18vh;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 15vh;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: -15px -10px 5px 0.5px #545454;
  align-items: center;
  padding-top: 0;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  padding-left: 0;
  border-radius: 12px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0;
  background-color: #ffffff;
}
.about-me-decor1 {
  left: 52px;
  width: 18vh;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 27px;
  height: 15vh;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: -15px -10px 5px 0.5px #545454;
  align-items: center;
  padding-top: 0;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  padding-left: 0;
  border-radius: 12px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0;
  background-color: #ffffff;
}
.about-me-text11 {
  top: 1px;
  left: 290px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-sixunits);
}
.about-me-about1 {
  width: 80vh;
  height: 50vh;
  display: none;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 80vh;
  box-shadow: -15px -15px 5.5px 2px #c2bebe;
  max-height: 50vh;
  align-items: center;
  user-select: none;
  border-radius: 8px;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(-285deg, rgb(45, 57, 41) 0.00%,rgb(62, 83, 57) 45.00%,rgb(44, 176, 66) 100.00%);
}
.about-me-text-frame1 {
  right: -98px;
  width: 80vh;
  bottom: -51px;
  height: 50vh;
  display: flex;
  padding: 0px;
  position: absolute;
  max-width: 80vh;
  box-shadow: -15px -10px 5.5px 0.5px #949494;
  max-height: 50vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  flex-direction: column;
  background-color: #ffffff;
}
.about-me-text12 {
  color: rgb(0, 0, 0);
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 800;
  padding-top: var(--dl-space-space-halfunit);
}
.about-me-li2 {
  width: 80%;
  height: 20%;
  position: relative;
  font-size: 2.5rem;
  max-width: 80%;
  align-self: flex-start;
  max-height: 20%;
  padding-left: var(--dl-space-space-halfunit);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
}
.about-me-text15 {
  left: 32px;
  width: 90%;
  bottom: -5px;
  height: 100%;
  position: absolute;
  font-size: 1.2rem;
  max-width: 90%;
  max-height: 100%;
  font-family: Source Code Pro;
  font-weight: 700;
}
.about-me-text16 {
  font-weight: 600;
}
.about-me-text17 {
  font-style: normal;
}
.about-me-li3 {
  width: 80%;
  height: 25%;
  position: relative;
  font-size: 2.5rem;
  max-width: 80%;
  align-self: flex-end;
  max-height: 25%;
  padding-left: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
}
.about-me-text18 {
  left: 32px;
  width: 90%;
  bottom: -5px;
  height: 100%;
  position: absolute;
  font-size: 1.25rem;
  max-width: 90%;
  max-height: 100%;
  font-family: Source Code Pro;
  font-weight: 700;
}
.about-me-text19 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
}
.about-me-text21 {
  font-style: normal;
  font-weight: 600;
}
.about-me-decor2 {
  top: 14px;
  right: -118px;
  width: 18vh;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 18vh;
  display: flex;
  position: absolute;
  max-width: 18vh;
  box-shadow: -15px -10px 5px 0.5px #545454;
  max-height: 18vh;
  align-items: center;
  padding-top: 0;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  padding-left: 0;
  border-radius: 12px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0;
  background-color: #ffffff;
}
.about-me-decor3 {
  left: 63px;
  width: 18vh;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 14px;
  height: 18vh;
  display: flex;
  position: absolute;
  max-width: 15vh;
  box-shadow: -15px -10px 5px 0.5px #545454;
  max-height: 15vh;
  align-items: center;
  padding-top: 0;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  padding-left: 0;
  border-radius: 12px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0;
  background-color: #ffffff;
}
.about-me-text23 {
  top: 0px;
  left: 344px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
  padding-top: var(--dl-space-space-halfunit);
}
.about-me-banner {
  width: 100%;
  height: 60%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  background: linear-gradient(     230deg,     rgba(9, 4, 97, 1),     rgba(2, 49, 121, 1),     rgba(0, 146, 255, 1)   );
  margin-top: 100px;
  max-height: 68%;
  transition: 0.3s;
  align-items: center;
  user-select: none;
  margin-bottom: 0px;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgb(63, 102, 214) 3.00%,rgb(38, 62, 129) 36.00%,rgb(13, 21, 44) 100.00%);
}
.about-me-banner:active {
  animation: slide-right 0.5s ease-in both;
}
.about-me-container1 {
  width: 100%;
  height: 125px;
  display: flex;
  max-height: 100%;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: space-between;
}
.about-me-text24 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-unit);
}
.about-me-text25 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-size: 1rem;
  max-width: 100%;
  align-self: flex-start;
  max-height: 100%;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.about-me-image {
  width: 212px;
  height: 200px;
  background: transparent;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius8);
  background-image: transparent;
}
.about-me-banner1 {
  width: 100%;
  height: var(--dl-size-size-large);
  display: flex;
  padding: 0px;
  max-width: 100%;
  background: linear-gradient(     230deg,     rgba(9, 4, 97, 1),     rgba(2, 49, 121, 1),     rgba(0, 146, 255, 1)   );
  margin-top: 0px;
  max-height: auto;
  transition: 0.3s;
  align-items: center;
  user-select: none;
  margin-bottom: 0px;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 1.00%,rgb(172, 169, 169) 98.00%);
}
.about-me-banner1:active {
  animation: slide-right 0.5s ease-in both;
}
.about-me-container2 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1576836165612-8bc9b07e7778?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8c2VhcmNofDR8fGJpbmFyeXxlbnwwfHx8fDE2OTA4Mzc5NTJ8MA&ixlib=rb-4.0.3&q=80&w=1500');
  background-position: center;
}
.about-me-container3 {
  display: contents;
}
.about-me-container4 {
  display: contents;
}
.about-me-banner2 {
  width: 100%;
  height: var(--dl-size-size-large);
  display: flex;
  padding: 0px;
  max-width: 100%;
  background: linear-gradient(     230deg,     rgba(9, 4, 97, 1),     rgba(2, 49, 121, 1),     rgba(0, 146, 255, 1)   );
  margin-top: 0px;
  max-height: auto;
  transition: 0.3s;
  align-items: center;
  user-select: none;
  margin-bottom: 0px;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 1.00%,rgb(172, 169, 169) 98.00%);
}
.about-me-banner2:active {
  animation: slide-right 0.5s ease-in both;
}
.about-me-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-self: center;
  align-items: center;
  user-select: none;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.about-me-text26 {
  font-size: 3rem;
  text-align: center;
  font-family: Source Code Pro;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-me-container5 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-fourunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.about-me-banner3 {
  width: 100%;
  height: var(--dl-size-size-large);
  display: flex;
  padding: 0px;
  max-width: 100%;
  background: linear-gradient(     230deg,     rgba(9, 4, 97, 1),     rgba(2, 49, 121, 1),     rgba(0, 146, 255, 1)   );
  margin-top: 0px;
  max-height: auto;
  transition: 0.3s;
  align-items: center;
  user-select: none;
  margin-bottom: 0px;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 3.00%,rgb(255, 255, 255) 46.00%,rgb(226, 228, 232) 97.00%);
}
.about-me-banner3:active {
  animation: slide-right 0.5s ease-in both;
}
.about-me-features1 {
  width: 100%;
  display: flex;
  padding: 0px;
  position: relative;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
}
.about-me-features2 {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: flex-end;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.about-me-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-container7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-me-image1 {
  width: 435px;
  height: 435px;
  box-shadow: -15px 15px 10px 2px #969696;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
@media(max-width: 1200px) {
  .about-me-about {
    width: 68.5vh;
    height: 38vh;
    position: relative;
    max-width: 68.5vh;
    box-shadow: -15px -15px 5.5px 2px #c2bebe;
    max-height: 38vh;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-sixunits);
    background-image: linear-gradient(-285deg, rgb(45, 57, 41) 0.00%,rgb(62, 83, 57) 45.00%,rgb(44, 176, 66) 100.00%);
  }
  .about-me-text-frame {
    right: -38px;
    width: 60vh;
    bottom: -30px;
    height: 350px;
    padding: 0px;
    position: absolute;
    max-width: 61.5vh;
    box-shadow: -15px -10px 5px 0.5px #545454;
    max-height: 38vh;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;
    background-color: #ffffff;
  }
  .about-me-decor {
    top: 31px;
    right: -113px;
    width: 18vh;
    height: 15vh;
    padding: 0px;
    position: absolute;
    max-width: 18vh;
    box-shadow: -15px -10px 5px 0.5px #545454;
    max-height: 15vh;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;
    background-color: #ffffff;
  }
  .about-me-decor1 {
    left: 52px;
    width: 18vh;
    bottom: 27px;
    height: 15vh;
    padding: 0px;
    position: absolute;
    max-width: 18vh;
    box-shadow: -15px -10px 5px 0.5px #545454;
    max-height: 15vh;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;
    background-color: #ffffff;
  }
  .about-me-about1 {
    width: 68.5vh;
    height: 38vh;
    position: relative;
    max-width: 68.5vh;
    box-shadow: -15px -15px 5.5px 2px #c2bebe;
    max-height: 38vh;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-sixunits);
    background-image: linear-gradient(-285deg, rgb(45, 57, 41) 0.00%,rgb(62, 83, 57) 45.00%,rgb(44, 176, 66) 100.00%);
  }
  .about-me-text-frame1 {
    right: -38px;
    width: 60vh;
    bottom: -30px;
    height: 350px;
    padding: 0px;
    position: absolute;
    max-width: 61.5vh;
    box-shadow: -15px -10px 5px 0.5px #545454;
    max-height: 38vh;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;
    background-color: #ffffff;
  }
  .about-me-decor2 {
    top: 31px;
    right: -113px;
    width: 18vh;
    height: 15vh;
    padding: 0px;
    position: absolute;
    max-width: 18vh;
    box-shadow: -15px -10px 5px 0.5px #545454;
    max-height: 15vh;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;
    background-color: #ffffff;
  }
  .about-me-decor3 {
    left: 52px;
    width: 18vh;
    bottom: 27px;
    height: 15vh;
    padding: 0px;
    position: absolute;
    max-width: 18vh;
    box-shadow: -15px -10px 5px 0.5px #545454;
    max-height: 15vh;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;
    background-color: #ffffff;
  }
  .about-me-container1 {
    margin-right: var(--dl-space-space-twounits);
  }
  .about-me-text25 {
    color: rgb(255, 255, 255);
    font-size: 1em;
    max-height: 100%;
    margin-bottom: 150px;
  }
  .about-me-banner1 {
    border-style: hidden;
    border-width: 0px;
  }
  .about-me-container3 {
    width: 50%;
    height: 605px;
    max-width: 40%;
  }
  .about-me-container4 {
    width: 50%;
    height: 605px;
    max-width: 40%;
  }
  .about-me-banner2 {
    border-style: hidden;
    border-width: 0px;
  }
  .about-me-banner3 {
    border-style: hidden;
    border-width: 0px;
  }
  .about-me-features1 {
    padding: var(--dl-space-space-threeunits);
    max-width: 100%;
  }
  .about-me-features2 {
    padding: var(--dl-space-space-threeunits);
    max-width: 100%;
  }
}
@media(max-width: 991px) {
  .about-me-about {
    display: none;
  }
  .about-me-about1 {
    display: none;
  }
  .about-me-banner {
    flex-direction: column;
  }
  .about-me-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-me-text25 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .about-me-image {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .about-me-banner1 {
    flex-direction: column;
  }
  .about-me-banner2 {
    flex-direction: column;
  }
  .about-me-text26 {
    text-align: center;
  }
  .about-me-container5 {
    grid-template-columns: 1fr 1fr;
  }
  .about-me-banner3 {
    flex-direction: column;
  }
  .about-me-features1 {
    align-items: center;
  }
  .about-me-features2 {
    align-items: center;
  }
  .about-me-container6 {
    flex-direction: column;
  }
  .about-me-image1 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .about-me-about {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-text-frame {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-decor {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-decor1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-about1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-text-frame1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-decor2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-decor3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-banner {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-text25 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .about-me-image {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
  }
  .about-me-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-text26 {
    text-align: center;
  }
  .about-me-banner3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-container6 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .about-me-about {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-text-frame {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-decor {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-decor1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-about1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-text-frame1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-decor2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-decor3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-image {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    z-index: -1;
  }
  .about-me-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-container5 {
    grid-template-columns: 1fr;
  }
  .about-me-banner3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-container7 {
    grid-template-columns: 1fr;
  }
  .about-me-image1 {
    width: 250px;
    height: 250px;
  }
}
