<div>
  <link href="./header.css" rel="stylesheet" />
  <header class="header-header fixed-navbar">
    <img
      alt="logo"
      src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
      class="header-image"
    />
    <div class="header-nav">
      <nav class="navigation-links2-nav navigation-links2-root-class-name16">
        <a href="index.html" class="navigation-links2-navlink">
          <span>About Me</span>
        </a>
        <a href="past-work.html" class="navigation-links2-navlink1">
          <span>Past Work</span>
        </a>
        <a href="web-development.html" class="navigation-links2-navlink2">
          <span>Web Development</span>
        </a>
        <a href="contact-me.html" class="navigation-links2-navlink3">
          <span>Contact Me</span>
        </a>
        <a href="behind-the-scenes.html" class="navigation-links2-navlink4">
          <span>Behind The Scenes</span>
        </a>
      </nav>
    </div>
    <div class="header-btn-group">
      <button class="header-login button"><span>Login</span></button>
      <button class="header-register button"><span>Register</span></button>
    </div>
    <h1 class="header-page-heading fixed-navbar">
      <span>Behind The Scenes</span>
      <br />
    </h1>
  </header>
</div>
