<div>
  <link href="./navigation-links2.css" rel="stylesheet" />
  <nav class="navigation-links2-nav">
    <a href="index.html" class="navigation-links2-navlink">
      <span>About Me</span>
    </a>
    <a href="past-work.html" class="navigation-links2-navlink1">
      <span>Past Work</span>
    </a>
    <a href="web-development.html" class="navigation-links2-navlink2">
      <span>Web Development</span>
    </a>
    <a href="contact-me.html" class="navigation-links2-navlink3">
      <span>Contact Me</span>
    </a>
    <a href="behind-the-scenes.html" class="navigation-links2-navlink4">
      <span>Behind The Scenes</span>
    </a>
  </nav>
</div>
