<div>
  <link href="./sidebar.css" rel="stylesheet" />
  <div class="sidebar-sidebar">
    <nav class="sidebar-nav">
      <span class="sidebar-text">
        <span>A Programmer&apos;s</span>
        <br />
        <span>Portfolio</span>
        <br />
      </span>
      <button class="sidebar-about-me button"><span>About Me</span></button>
      <button class="sidebar-past-work button"><span>Past Work</span></button>
      <button class="sidebar-web-development button">
        <span>Web Development</span>
      </button>
      <button class="sidebar-contact-me button"><span>Contact Me</span></button>
      <button class="sidebar-behind-the-scenes button">
        <span>Behind The Scenes</span>
      </button>
    </nav>
  </div>
</div>
